* {

    margin: 0;
    padding:0;

}

body {
    font-family: "Montserrat", Arial, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    background: rgb(99,101,236);
    background: linear-gradient(45deg, rgba(99,101,236,1) 10%, rgba(83,149,231,1) 50%, rgba(42,193,224,1) 100%);
}

header {
    color: aliceblue;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header > #landing {
    width: 50%;
    display: flex;
    justify-content: left;
}

header > #nav-wrap{
    width: 50%;
}

header > #nav-wrap > .navbar {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

header > #nav-wrap > .navbar > a {
    color: aliceblue;
}

#login {
    padding: 7px;
    border: 1px solid aliceblue;
    border-radius: 3px;
}


main {   
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}


main > .sides {
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    flex-wrap: wrap;

}


.section-wrap {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 450px;
    height: 50%;

}
.section-wrap1 {
    color: black;
    background-color: white;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50%;
    box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
}

.h2front {
    font-size: 60px;
}

#Register {
    color: aliceblue; 
    background-color: #007bff; 
    border-radius: 50px;
    border-color: transparent; 
    padding: 8px;
}

#sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 75%;
    height: 50%;

}

.pricing-button{
    text-align: center;
    background-color: #04c84f;
    color: aliceblue;
    width: 150px;
    border-radius: 50px;
    padding: 8px;
}







